# dependencies
/rcpt/node_modules

# build
/rcpt/build
/rcpt/dist

# env files
/rcpt/.env
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor directories and files
.idea/
*.iml

# OS files
.DS_Store

# local files
.DS_Store
npm-debug.log*
